@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

html {
  scroll-behavior: smooth;
}

@layer base {
  body {
    font-family: 'Inter', sans-serif;
  }
}

/* --- قواعد تحريك التموجات --- */
@keyframes waveMove {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-wave-slow {
  animation: waveMove 18s linear infinite;
}

.animate-wave-medium {
  animation: waveMove 12s linear infinite;
}

.animate-wave-fast {
  animation: waveMove 7s linear infinite;
}